<div class="container-fluid team managing text-center">
  <div class="row">
    <div class="col-10 offset-1 card">
      <h1>Editing Team Member</h1>

      <div class="form">
        <%= render 'form', team: @team %>
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <%= link_to 'Cancel editing team member', @team, class: "button cancel" %>
          <%= link_to 'Back to all team members', teams_path, class: "button" %>
        </div>
      </div>
    </div>
  </div>
</div>
