<div class="container-fluid about text-center" id="about">
  <h1>About Invoke Engineering Group</h1>
  <div class="about-short-description text-justify">
    <%= @infos.short_description %>
  </div>
  <%= link_to about_path, :action => 'go'  do %>
    <div class="button border-hover">more about<br>invoke engineering group</div>
  <% end %>
</div>
