<div class="container-fluid about-page">
  <div class="row">
    <div class="col-10 offset-1">
      <h1 class="text-center">About Invoke Engineering Group</h1>
      <div class="company-description text-justify">
        <%= simple_format(@infos.about_us) %>
      </div>
    </div>
  </div>

  <%= link_to projects_path, :action => 'go'  do %>
    <div class="button border-hover">take a look at our projects</div>
  <% end %>


  <!-- <h2 class="text-center">Meet The Invoke Engineers</h2> -->
  <%= render 'team' %>

</div>
