<div class="container-fluid under-construction">
  <div class="lines row">
    <div class="col-1 line-horizontal line-horizontal-left line"></div>
    <div class="line-diagonal line"></div>
    <div class="col-1 offset-11 line-horizontal line-horizontal-right line"></div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 welcome-card text-center">
      <div class="row">
        <div class="col align-self-center welcome-message" >
          <h1>WELCOME TO INVOKE ENGINEERING GROUP</h1>
          <div class="description">
            <p class="keywords d-none d-sm-block">design <%= image_tag "favicon.png", class:'img-responsive' %> construction <%= image_tag "favicon.png", class:'img-responsive' %> renovation</p>
            <p class="keywords d-block d-sm-none">design<br><%= image_tag "favicon.png", class:'img-responsive' %><br>construction<br><%= image_tag "favicon.png", class:'img-responsive' %><br>renovation</p>
            <p class="short-description">The website is under construction.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
