$dark: #252525;
$dark: black;
$yellow: #e8bd23;
$off-white: #eaeaea; //white color on dark background with opacity 0.9
$off-white: #f0f0f0; //white color on dark background with opacity 0.93
$off-white: white;
