// $dark: #252525;
// $dark: black;
$dark: #3a3a3a;
$yellow: #e8bd23;
// $off-white: #eaeaea; //white color on dark background with opacity 0.9
// $off-white: #f0f0f0; //white color on dark background with opacity 0.93
$off-white: white;
