// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  .form {
    img {
      width: 50px;
    }

    #project_images {
      p {
        font-weight: 500;
        font-size: 19px;
      }

      .nested-fields {
        margin-bottom: 10px;

        .delete-x {
          color: red;
        }

        .delete-x:hover{
          color: #b20000;
          background: white;
        }
      }
    }
  }

  .card {
    img {
      width: 100%;
    }
  }
}

.project.show {

  .card {
    padding-left: 0;
    padding-right: 0;
  }
  .project-intro-and-description {
    padding-left: 50px;
    padding-right: 50px;

    .cover-image img {
      width: 100%;
    }

    .name {
      font-weight: 400;
      font-size: 25px;
    }

    .area {
      img {
        width: 20px;
        margin-top: -5px;
      }
    }

    .description {
      margin: 30px 0 20px 0;
      text-align: left;
    }
  }

  .project-images {
    margin-bottom: 60px;
    .photographer {
      margin-bottom: 10px;

      .photographer-link {
        text-decoration: underline;
      }

      .photographer-link:hover {
        background: none;
        color: grey;
      }
    }

    .carousel-image {
      height: 450px;
      width: auto;
      margin: 0 10px;
      opacity: 0.3;
    }

    .carousel-image.is-selected {
      opacity: 1;
    }
  }

  .links-to-other-projects {
    padding-left: 20px;
    padding-right: 20px;
  }
}


.project.index {
  padding: 0 20px 20px 20px!important;
}

// XS
@media (max-width: 575px) {

  .project.show {
    .project-intro-and-description {
      .description {
        margin-top: 0px;
      }
    }
  }
}

// XS and SM
@media (max-width: 767px) {
  .project.show {
    .project-images {
      .carousel-image {
        height: 300px;
      }
    }
  }
}

// SM
@media (min-width: 576px) and (max-width: 767px){
  .project.show {
    .project-intro-and-description {
      .description {
        margin-top: 10px;
      }
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .project.show {
    .project-intro-and-description {
      .description {
        margin-bottom: 30px;
      }
    }
  }
}
