// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  .form {
    img {
      width: 50px;
    }

    #project_images {
      p {
        font-weight: 500;
        font-size: 19px;
      }

      .nested-fields {
        margin-bottom: 10px;

        .delete-x {
          color: red;
        }

        .delete-x:hover{
          color: #b20000;
          background: white;
        }
      }
    }
  }

  .card {
    img {
      width: 100%;
    }
  }
}

.project.show {
  .cover-image img {
    width: 100%;
  }

  .name {
    font-weight: 400;
    font-size: 25px;
  }

  .description {
    margin: 30px 0 20px 0;
    text-align: left;
  }

  .project-images {
    .photographer {
      margin-bottom: 10px;

      .photographer-link {
        text-decoration: underline;
      }

      .photographer-link:hover {
        background: none;
        color: grey;
      }
    }

    .project-image {
      margin-bottom: 20px;
    }
  }
}

.project.index {
  padding: 0 0 20px 0!important;
}
