// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.project {
  .form {
    img {
      width: 50px;
    }
  }

  .card {
    img {
      width: 100%;
    }
  }
}

.project.show {
  .cover-image img {
    width: 100%;
  }

  .name {
    font-weight: 400;
    font-size: 25px;
  }

  .description {
    margin: 30px 0;
    text-align: left;
  }
}
