// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'vendor_prefixes';
@import 'colors';

// Index CAROUSEL
.index-carousel {
  height: calc(100vh - 58px - 20px); // Full height minus navigationbar height minus 20px

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .flickity-page-dots {
    bottom: 50px;
    z-index: 100;
    opacity: 1;
  }
}

  .carousel-caption {
    font-size: 50px;
    width: 100%;
    height: 100%;
    left: 0;
    text-align: left;
    padding-left: 10%;
    color: white;
    font-weight: 500;
    text-shadow: 2px 7px 5px rgba(255,255,255,0.3), 0px -4px 10px rgba(0,0,0,0.3);
    top: 100%;
    opacity: 0;
    transition: all .7s ease-out;
    transition-delay: 1s;
  }

  .carousel-caption.is-selected {
    top: 70%;
    opacity: 1;
  }


// Welcome
.welcome,
.under-construction {
  background-color: $dark;
  position: relative;
  padding-bottom: 20px;
  padding-top: 20px;
  min-height: calc(100vh - 58px); // Full height minus navigationbar height
  overflow-x: hidden;

  .lines {
    .line {
      height: 2px;
      background-color: white;
      position: absolute;
    }

    .line-horizontal {
      padding: 0;
      width: 100%;
    }

    .line-horizontal-left {
      top: 50%
    }

    .line-diagonal {
      width: 200vw;
      @include transform-origin(left bottom);
      left: -10%;
      bottom: 0;
    }

    .line-horizontal-right {
      top: 75%
    }
  }

  .welcome-card {
    // background-color: white;
    // background-color: rgba(255, 255, 255, 0.93);
    background: $off-white;
    min-height: 350px;
    height: 75vh;
    position: relative;

    .welcome-message {
      width: 90%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h1 {
      font-size: 50px;
      line-height: 67px;
      font-weight: 300;
      margin-bottom: 0;
    }

    .description {
      .keywords {
        font-size: 25px;
        margin: 30px 0;

        img {
          width: 15px;
        }
      }

      .short-description {
        font-size: 18px;
      }
    }
  }
}

// Under construction
.under-construction {
  min-height: 100vh;
  padding: 0;
  padding-bottom: 10vh;

  .welcome-card {
    margin-top: 10vh;
    min-height: 80vh;
  }
}

// Projects
.projects,
.project.index {
  padding: 35px;
  padding-bottom: 20px;

  h1 {
    margin-bottom: 20px;
  }
}

.projects,
.project.index,
.project.show {
  .project-card {
    text-align: center;
    margin-bottom: 40px;

    img {
      width: 100%;
    }

    p {
      padding-top: 8px;
      border-bottom: 1px solid $dark;
      width: 80%;
      margin: auto;
      transition: width 0.5s;
    }
  }

  .project-card:hover {
    @include filter(grayscale(70%));

    img {
      box-shadow:1px 1px 5px #646464;
    }

    p {
      width: 100%;
    }
  }
}

.projects {
  // border-top: 17px solid $dark;
  padding-top: 50px;
}

// Contact
.contact {
  background: $dark;
  padding: 20px;
  color: white;
  padding: 20px 50px 50px 50px;

  h1 {
    font-weight: 100;
    margin-bottom: 35px;
  }

  .contact-info {
    text-align: right;
    padding-right: 50px;

    img {
      width: 30px;
    }

    .company-name {
      font-family: 'Fira Sans', sans-serif;
      font-size: 20px;
    }

    a {
      color: white;
    }

    .social-media {
      .only-instagram {
        border-color: white;
        padding: 5px 7px;

        p {
          margin-bottom: 0;
        }
      }
    }
    #map {
      height: 200px;
    }
  }

  .contact-form {
    input,
    textarea {
      background: $dark;
      color: white;
      border: none;
      border-radius: 0;
      border-bottom: 1px solid white;
    }

    .form-wrapper {
      position: relative;
    }

    .form-wrapper:after {
      content: '';
      width: 0%;
      height: 0%;
      border-left: 1px solid white;
      border-top: 1px solid white;
      position: absolute;
      bottom: 0;
      left: 0;
    }

    .form-wrapper:before {
      content: '';
      width: 0%;
      height: 0%;
      border-top: 1px solid white;
      border-right: 1px solid white;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .form-wrapper.animated:after,
    .form-wrapper.animated:before {
      // -webkit-animation: hide-borders 0.5s ease-out forwards;
      //   animation: hide-borders 0.5s ease-out forwards;
    }

    .form-wrapper:hover:after,
    .form-wrapper:hover:before {
      -webkit-animation: show-borders 1s ease-out both;
        animation: show-borders 1s ease-out both;
    }

    @keyframes show-borders {
      0% {
        height: 0%;
        width: 0%;
      }
      50% {
        height: 100%;
        width: 0%
      }
      100% {
        height: 100%;
        width: 50%;
      }
    }

    @-webkit-keyframes show-borders {
      0% {
        height: 0%;
        width: 0%;
      }
      50% {
        height: 100%;
        width: 0%
      }
      100% {
        height: 100%;
        width: 50%;
      }
    }

    @keyframes hide-borders {
      0% {
        height: 100%;
        width: 50%;
      }
      50% {
        height: 100%;
        width: 0%
      }
      100% {
        height: 0%;
        width: 0%;
      }
    }

    @-webkit-keyframes hide-borders {
      0% {
        height: 1000%;
        width: 50%;
      }
      50% {
        height: 100%;
        width: 0%
      }
      100% {
        height: 0%;
        width: 0%;
      }
    }

    .form-contact .form-control:focus {
      outline: none;
      box-shadow: none;
    }

    .button {
      background: white;
      color: $dark;
      width: 100%;
      padding: 15px;
      border: none;
    }

    .button:hover {
      color: white;
      background: $yellow;
    }
  }

  .contact-form-submitted {
    display: none;
    color: white;
    padding: 20px;
  }
}

// About
.about {
  padding: 35px;
  padding-bottom: 40px;
  border-top: 17px solid $dark;

  h1 {
    margin-bottom: 30px;
  }

}


// About Page
.about-page {
  padding: 0;
  padding-top: 20px;

  h1 {
    margin-bottom: 30px;
  }
}

// Team
.team-presentation {
  background: $dark;
  margin-top: 40px;
  padding-bottom: 20px;

  h2 {
    color: white;
    margin-bottom: 20px;
    padding-top: 25px;
  }
  .team-member-photo {
    padding: 0;
    // margin: auto; //uncomment it to center vertical
    position: relative;
    overflow: hidden;
    height: max(500px, 50vw);
    img {
      height: 100%;
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
    }

    .avatar {
      min-height: auto;
      min-width: auto;
    }
  }

  .name {
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 2px;
    font-family: 'Fira Sans', sans-serif;
  }

  .team-member-info {
    background: $dark;
    color: white;
    padding: 30px;
    text-align: justify;

    .proffession {
      text-transform: lowercase;
      font-size: 20px;
      font-weight: 400;
      font-family: 'Oxygen', sans-serif;
    }

  }

  .team-member-info.order-md-first {
    .name,
    .proffession {
      text-align: right;
    }
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .team-presentation {
    .team-member-photo {
      // height: max(550px, 33.33333333vw);
      height: 450px;
    }

    .team-member-info {
      padding-top: 10px;
    }
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  // Welcome
  .welcome,
  .under-construction {
    .welcome-card {
      height: 60vh;
    }

    h1 {
      font-size: 60px;
      line-height: 77px;
    }
  }
}

// SM
@media (min-width: 576px) and (max-width: 767px){
  .welcome,
  .under-construction {
    .welcome-card {
      min-height: 500px;

      h1 {
        font-size: 50px;
        line-height: 67px;
      }

      .description {
        .keywords {
          font-size: 20px;
        }

        img {
          width: 12px;
        }
      }
    }
  }

  .contact {
    .contact-info {
      padding-right: 0;
    }
  }

  .team-presentation {
    .team-member-photo {
      position: relative;
      text-align: center;
      height: 350px;

      img {
        // width: 80%;
        // height: auto;
      }
    }
  }

}

// XS and SM
@media (max-width: 767px) {
  .team-presentation {
    .team-member-photo {
      position: relative;
      text-align: center;

      .name {
        position: absolute;
        bottom: 0px;
        left: 0px;
        background: rgba(37, 37, 37, 0.9);
        color: white;
        margin-bottom: 0px;
        padding: 10px 15px;;
        width: 100%;
        text-align: left;
      }

    }

    .team-member-info {
      padding: 20px;
    }

    .team-member-info.order-md-first {
      .proffession {
        text-align: left;
      }
    }
  }
}

// XS
@media (max-width: 575px) {
  .welcome,
  .under-construction {
    .welcome-card {
      min-height: 590px;
      h1 {
        font-size: 40px;
        line-height: 57px;
      }

      .description {
        .keywords {
          font-size: 20px;
        }

        img {
          width: 10px;
        }
      }
    }
  }

  .contact {
    padding: 30px;
    .contact-info {
      padding-right: 0;
      text-align: center;
      margin-top: 40px;
    }
  }

  .team-presentation {
    .team-member-photo {
      position: relative;
      text-align: center;
      height: 300px;

      img {
        // width: 100%; //uncomment for full width at small screens
        // height: auto; //uncomment for full width at small screens
      }
    }
  }
}


// XXS
@media (max-width: 400px) {
  .welcome,
  .under-construction {
    .welcome-card {
      h1 {
        font-size: 30px;
        line-height: 52px;
      }
    }
  }
}


// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
// @media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
// @media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) { ... }
