// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team {
  .form {
    img {
      width: 50px;
    }
  }

  .team-card {
    cursor: pointer;
    outline: 0px solid rgba(50, 115, 220, 0.3);
    outline-offset: 0;
    outline-color: #929292; //fallback
    outline-color: rgba(37, 37, 37, 0.7);
    transition: outline 0.5s, outline-offset 0.5s;
    margin-bottom: 20px;
  }

  .team-card:hover {
    outline: 20px solid;
    outline-offset: -20px;
    outline-color: #929292; //fallback
    outline-color: rgba(37, 37, 37, 0.7);
  }
}
